# Database
DB_HOST=db
DB_PORT=3306
DB_USER=TODO
DB_PASSWORD=TODO
DB_ROOT_PASSWORD=TODO
DB_NAME=dorm
DB_DRIVER="mysql"
AUTH_SECRET=TODO

# Time Zone
TZ=Europe/Moscow

# Notification Scheduler
NOTIFICATION_SCHEDULER_ENABLED=false

# Web Push
WEB_PUSH_ENABLED=false
WEB_PUSH_PUBLIC_KEY=
WEB_PUSH_PRIVATE_KEY=
WEB_PUSH_SUBJECT=mailto:test@example.com
