:root {
    --login-page-background-image: url('/src/assets/dolgorukov.png');
}

.loginPage {
    min-height: 100vh;
    min-height: 100dvh;

    background-color: #f3f4f6;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        var(--login-page-background-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
